.AcTable {
  width: 100%;
  text-wrap: nowrap;
  border-collapse: collapse;
  background-color: var(--neutral-lightest);
  
  thead {
    tr {
      border-bottom: 2px solid var(--secondary-base);
    }

    th {
      padding: 4px 8px;
      font-size: 14px;
      color: var(--secondary-dark);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--neutral-medium);
    }

    td {
      text-align: center;
      font-size: 12px;
      padding: 8px;
    }
  }
}