:root {
  /* Primary Colors */
  --primary-high: #2980b9; /* Dark Blue */
  --primary-base: #3498db; /* Blue */
  --primary-low: #85c1e9; /* Light Blue */

  /* Secondary Colors */
  --secondary-high: #c0392b; /* Dark Red */
  --secondary-base: #e74c3c; /* Red */
  --secondary-low: #f1948a; /* Light Red */

  /* Neutral Palette */
  --neutral-highest: #000000; /* Black */
  --neutral-high: #2c3e50; /* Dark Gray */
  --neutral-medium: #bdc3c7; /* Medium Gray */
  --neutral-low: #f4f4f4; /* Light Gray */
  --neutral-lowest: #ffffff; /* White */
}
